@import './variables.scss';

.hero__button{
    font-size: 1.1rem;
    position:absolute;
    top: 400px;
    left: 30px;
    font-weight:bold;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    margin: 80px;
}

button{
    width: 223px;
    height: 43px;
    background-color:$GlobalColor;
    color: #FFFFFF;
    border-radius: 40px;
    border:none
}
