@import './variables.scss';

.hero__button{
    font-size: 1.1rem;
    position:absolute;
    top: 400px;
    left: 30px;
    font-weight:bold;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    margin: 80px;

    &:hover{
        cursor:pointer;
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.61),
        0 6px 20px 0 rgb(143, 138, 138);;
      }
    
}

button{
    width: 223px;
    height: 43px;
    background-color:$GlobalColor;
    color: #FFFFFF;
    border-radius: 40px;
    border:none
}
