.gridsCard {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 0.25fr repeat(2,2fr) 0.25fr ;
  margin-bottom: 2rem;
  place-items: center;

}


.gridsCard1{
    width: 50%;
    display : flex;
    flex-direction : column;
    align-items : left;
    margin-bottom : 2rem;
    font-size : 1.5rem;

    h1{
      color:rgb(66, 65, 65);
      font-size: larger;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    p{
   
      color:#818181;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-size:1rem ;
    }
.time{

   color:#000;
}
ul :nth-child(1){
  
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#000;
    font-size:1rem;
  } 


li{ 

  cursor: pointer;
  color:#6231EC;
  margin: 1rem;
  font-size: 1rem;
}
.tg{
  display: flex;
  align-items: left !important;

}
.heroTag{
  margin: 0.5rem;
  padding: 5px;
  color:#000;
  font-size:0.75rem ;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border:#000 solid 1px;
  border-radius: 40px;
  width:fit-content;
}
    
}

.gridsCard2{
    width: 50%;
    img{
      width: 100%;
      height: 100%;
    }
}
