
.grid{
    display: grid;
    place-items:  center;
    color: #6231EC;
    font-size: 25px;
    height : 500px;
    text-align: center;
}
.grid2{
    place-items:center;
    color: #6231EC;
    text-align : center;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 10px; 
    width: 50%; 
    margin-top: 20%;
    margin-left: 25%;
}

.grid5{
    background-color: #6231EC;
    .text-team1{
        text-align: center;
        color: #ffff;
        .text{
            color: #ffff;
        }
    }
    
}

.img-grid{
    width: 70%;
    display:inline-flex;
}


.img-grid-team{
    display: grid;
    width:80%;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin-left: 8%; 
    grid-auto-rows: auto;
    color: #ffff;
    .home-card-header-subtitle {
        color:#ffff
    }
}


.img-grid-team2{
    display: grid;
    width:80%;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin-left: 8%; 
    grid-auto-rows: auto;
    color: black;
    .home-card-header-subtitle {
        color:black
    }
}


.text-team2{
    text-align: center;
    color: #6231EC;
    .text{
        color: black;
    }
}

.text-team3{
    text-align: center;
    color: #6231EC;
    .text{
        color: black;
    }
    .btn{
        margin-right: 14%;
        margin-bottom: 5%;
    }
}

.first-winners-section{
    display: -ms-grid;
    background-color: #6231EC;
    padding: 120px;

    .girls-img{
        margin-left: 200px;
    }

    h1{
        color:#ffff;
        margin-top: -100px;
    }

    .photo-desc{
        color: #ffff;
        margin: 70px;
        max-width: 400px;
        margin-top: -250px;
        float: right;
        margin-inline: 220px;
        margin-block-end: 70px;
    }

    p{        
        color:#ffff;
    }

    .home-card-header-subtitle{
        margin-left: 225px;

    }
    .heading-title{
        text-align: center;
    }
    h2{
        color: #ffff;
        margin-inline: 200px;
    }
   
}

.winners-video{
    text-align: center;
    margin-top: -70px;
}

.winners-second-sec{
    text-align: center;

    h1{
        color: #6231EC;
    }
  
}

.final-sec-winners{
    display: grid;
    display:inline-flex;
    column-gap:6vw;
    h2{
        color:#6231EC
    }
}

.final-section{
    text-align: center;
    h1{
        color: #6231EC;
    }
 
   
}