//Home-Page
.divTags{ 
    position: absolute;
    top: 250px;
    left: 112px;
    color: whitesmoke;
    font-size: 1rem;
    font-weight:bold;
    word-break: normal;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.hero__tag{
    border-radius: 40px;
    border: 1px solid #f5f5f5;
    padding: 5px;
    margin: 5px;
    background-color: transparent;
    color: #f5f5f5;

}

.section-1{
    display: grid;
    place-items:  center;
    color:$GlobalColor;
    font-size: 25px;
    height : 500px;
    text-align: center;
}

.section-2{
    place-items:center;
    color:$GlobalColor;
    text-align : center;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 10px; 
    width: 50%; 
    margin-top: 20%;
    margin-left: 25%;
}

.section-3 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 0.25fr repeat(2,2fr) 0.25fr ;
    margin-bottom: 2rem;
    place-items: center;
  }
  
  .section-3-p1{
      width: 50%;
      display : flex;
      flex-direction : column;
      align-items : left;
      margin-bottom : 2rem;
      font-size : 1.5rem;
  
      h1{
        color:rgb(66, 65, 65);
        font-size: larger;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
      }
      p{
     
        color:#818181;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size:1rem ;
      }
  .time{
  
     color:#000;
  }
  ul :nth-child(1){
    
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      color:#000;
      font-size:1rem;
    } 
  
  
  li{ 
    cursor: pointer;
    color:$GlobalColor;
    margin: 1rem;
    font-size: 1rem;
  }

  .tg{
    display: flex;
    align-items: left !important;
  }

  .heroTag{
    margin: 0.5rem;
    padding: 5px;
    color:#000;
    font-size:0.75rem ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border:#000 solid 1px;
    border-radius: 40px;
    width:fit-content;
  }
  }
  
  .section-3-p2{
      width: 50%;
      img{
        width: 100%;
        height: 100%;
      }
  }

.guide-div{
    color:$GlobalColor;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    margin-top: 7%;
    margin-left: 7%;
    p{
      color: $GlobalColor;
    }

    button{
      &:hover{
        cursor:pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);;
      }
    }
}

.FAQ{
    margin-top:100px;
    margin-left: 350px;
}


.section-4{
    display: grid;
    place-items:  center;
    color:$GlobalColor;
    font-size: 25px;
    height : 500px;
    text-align: center;
}

.lowerhero{
    width: 100%;
}

.section-5{
    text-align: center;
    color: #FFFFFF;
    background-color:$GlobalColor;
    padding: 50px;
    button{
        color: #6231EC;
        background-color: #FFFFFF;

        &:hover{
          cursor:pointer;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);;
        }
    }
}

.section-6{
    display: grid;
    place-items:  center;
    color:$GlobalColor;
    font-size: 15px;
    height : 500px;
    text-align: center;
    margin-bottom: 12%;   
}

.judges-text2{
    text-align: center;
}

.img-grid{
    width: 70%;
    display:inline-flex;
}
