.logo{
    display: inline-block;
    align-items: center !important;
    text-align: center!important;
    justify-content: center;
    width: 100%;
   p{

         font-size: 1.5rem;
         font-weight: bold;
         color: #000;
   }
    img{
    padding: 20px;
    margin: 20px;
    }
    
 
}



  
