
@import './_titles';
@import './_buttons.scss';
@import './frame13';
@import './footer';
@import './_index';
@import './_ViewMoreSection';
@import './_winners';
@import './_Team';
@import './variables.scss';

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#000;
  height: 1px;
}
.reg-text{
    margin-top: -5%;
    width: 60%;
}

.awards-text{
    color: #FFFFFF;
}

.our-partners{
    margin-top: 0%;
    margin-bottom: -20%;
}

.Global-img{
    width: 100%;
    height: 100%;
}

  
