
html, body {
  width: 100%;
  margin: auto;

}

p{
  color:#6231EC;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

nav .sel{
border:none;
border-radius: 40px;
margin-right: -11.5%;
margin-left: -3%;
}

nav a{
text-decoration: none;
}

nav a > img {
width:132px;
height:72px;

}

