
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

p{
  color:#6231EC;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav {
text-align: center;
margin-bottom: 80px;

}
nav a{
  margin: 5%;
}
nav a > img {
width:132px;
height:72px;
}

